<html>
<head>
    <title>Music@Napier</title>
</head>
<body bgcolor="#d3d3d3">
    <table style="width:80%">
    <tr>
        <td rowspan="2">
            <img
            src="../static/Logo.jpg"
            alt="Logo" syle="width="90" height="90" ">
        </td>
        <td>
            <h1>Music@Napier: Artists</h1>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Music for everyone!</h2>
        </td>
    </tr>
    </table>
    <table>
        <tr>
            <td>
                <img src="../static/RedHotChiliPeppers.jpeg"
                    alt="RedHotChiliPeppers" width="80" height="80">
            </td>
            <td>RedHotChiliPeppers</td>
        </tr>
        <tr>
            <td>
                <img src="../static/TheRollingStones.jpg"
                    alt="TheRollingStones" width="110" height="80">
            </td>
            <td>The Rolling Stones</td>
        </tr>
        <tr>
            <td>
                <img src="../static/WAMozart.jpg"
                    alt="WolfgangAmadeusMozart" width="60" height="80">
            </td>
            <td>Wolfgang Amadeus Mozart</td>
        </tr>
    </table>
    <input type=button value="Back"onClick="history.back()">
</body>
</html>
