<html>
<head>
    <title>Music@Napier</title>
</head>
<body bgcolor="grey">
    <table style="width:80%">
    <tr>
        <td>
            <img src="https://www.dropbox.com/s/qczbotwlb4cs9lr/Logo.jpg?dl=0"
            alt="Logo" syle="width="50" height="50"">
        </td>
        <td>
            <h1>Music@Napier: Artists</h1>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <h2>Music for everyone!</h2>
        </td>
    </tr>
    <tr>
        <td><img
            src="https://www.dropbox.com/s/tx7lrs87ks06urk/RedHotChiliPeppers.jpeg?dl=0"
            alt="RedHotChiliPeppers" width="50" height="50">
        </td>
        <td>RedHotChiliPeppers</td>
    </tr>
    <tr>
        <td><img
            src="https://www.dropbox.com/s/ztvhzk1n1yan8km/TheRollingStones.jpg?dl=0"
            alt="TheRollingStones" width="70" height="50">
        </td>
        <td>The Rolling Stones</td>
    </tr>
    <tr>
        <td><img
            src="https://www.dropbox.com/s/wz7r9qxphpxyn87/WAMozart.jpg?dl=0"
            alt="WolfgangAmadeusMozart" width="40" height="50">
        </td>
        <td>Wolfgang Amadeus Mozart</td>
    </tr>
    </table>
    <input type=button value="Back"onClick="history.back()">
</body>
</html>
