<html>
<head>
    <title>Music@Napier</title>
</head>
<body bgcolor="#d3d3d3">
    <table style="width:80%">
    <tr>
        <td rowspan="2">
            <img src="../static/Logo.jpg"
                alt="Logo" syle="width="90" height="90"">
        </td>
        <td>
            <h1>Music@Napier: Comments and wishes</h1>
        </td>
    </tr>
    <tr>
        <td>
            <h2>Music for everyone!</h2>
        </td>
    </tr>
    </table><br>
    
    <form name="MyForm" action=mailto:ka.kuderer@gmail.com method="POST">
        Do you have a comment or a whish?<br>
        Please don't hesitate to write a short message:<br>
        <textarea rows="6" cols="50"></textarea><br>

        <input type="submit" value="Send" /><br>
        <input type=button value="Back" onClick="history.back()">
    </form>

</body>
</html>
