<html>
<head>
    <title>Music@Napier</title>
</head>
<body bgcolor="grey">
    <table style="width:80%">
    <tr>
        <td>
            <img src="https://www.dropbox.com/s/qczbotwlb4cs9lr/Logo.jpg?dl=0"
            alt="Logo" syle="width="50" height="50"">
        </td>
        <td>
            <h1>Music@Napier: Genres</h1>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <h2>Music for everyone!</h2>
        </td>
    </tr>
    <tr>
        <td colspan="2"> The following genres are avaiable:</td>
    </tr>
    <tr>
        <td colspan="2"><input type="checkbox" name="FavouriteMusic" 
            value="Rock">Rock</td>
    </tr>
    <tr>
        <td colspan="2"><input type="checkbox" name="FavouriteMusic"
            value="Pop">Pop</td>
    </tr>
    <tr>
        <td colspan="2"><input type="checkbox" name="FavouriteMusic"
            value="Classical music">Classical music</td>
    </tr>
    </table>
    <input type="submit" value="Show" />
    <input type=button value="Back" onClick="history.back()">
</body>
</html>
