<html>
<head>
    <title>Music@Napier</title>
</head>
<body bgcolor="#d3d3d3">
    <table style="width:80%">
        <tr>
           <td rowspan="2">
                <img
                src="../static/Logo.jpg"
                alt="Logo" syle="width="90" height="90"">
            </td>
            <td>
                <h1>Music@Napier: Genres</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h2>Music for everyone!</h2>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td colspan="2"> The following genres are avaiable:</td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" name="FavouriteMusic" 
                value="Rock">Rock</td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" name="FavouriteMusic"
                value="Pop">Pop</td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" name="FavouriteMusic"
                value="Classical music">Classical music</td>
        </tr>
    </table>
    <input type="submit" value="Show" />
    <input type=button value="Back" onClick="history.back()">
</body>
</html>
