<html>
<head>
    <title>Music@Napier</title>
</head>
<body bgcolor="grey">
    <table style="width:80%">
    <tr>
        <td><IMG SRC="https://www.dropbox.com/s/qczbotwlb4cs9lr/Logo.jpg?dl=0"
        style="width:40px;height:40px;"></td>
        <td><h1> Welcome to Music@Napier!</h1></td>
    </tr>
    <tr>
        <td></td>
        <td><h2>Music for everyone :)</h2></td>
    </tr>
    <tr></tr>
    <tr>
        <td><button type="button">Genre</td>
        <td></td>
    </tr>
    <tr>
        <td><button type="button">Artists</td>
        <td></td>
    </tr>
    <tr>
        <td><button type="button">Search</td>
        <td></td>
    </tr>

</body>
</html>
