<html>
<head>
    <title>Music@Napier</title>
</head>
<body bgcolor="#d3d3d3"> 
    <table style="width=80%">
        <tr>
            <td rowspan="2">
                <img src="../static/Logo.jpg"
                    alt="Logo" width="90" height="90">
            </td>
            <td>
                <h1> Music@Napier</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h2> Music for everyone!</h2>
            </td>
        </tr>
    </table>
    <ul class="nav navbar-nav">
    <li class="active"><a href="genre">Genre</a></li>
    <li> <a href="artist">Artists</a></li>
    <li> <a href="search">Search</a></li>
    <li> <a href="comment">Comments</a></li>
    </ul>
</body>

