<html>
<head>
    <title>Music@Napier</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <table>
                    <tr>
                        <td><a class="navbar-brand"></a><img src="./logo.jpg"
                        alt="Logo" width="50" height="50">
                        <!-- src="http://www.dropbox.com/s/qczbotwlb4cs9lr/Logo.jpg?dl=0"
                        height="50" width="50">--></td>
                        <td>
                            <h1>Music@Napier</h1>
                        </td>
                        <!--</a>-->
                    </tr>
                    <tr>
                        <td></td>
                        <td><h2>Music for everyone!</h2></td>
                    </tr>
                </table>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="genre">Genre</a></li>
                    <li> <a href="artist">Artists</a></li>
                    <li> <a href="search">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>

